<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/components/pages/about/style.css" />
  </head>
  <body>
    <section class="about">
      <div class="main">
        <img src="/video/images/Menil.jpg" alt="" />
        <div class="about-text">
          <h1>About Us</h1>
          <h5>Student & Web Developer</h5>
          <p>
            My name is Menil jotaniya and I am student of Marwadi University. I
            am study in Bsc.it department. I have 2 years of collage exprience
            for web development.
          </p>
          <button>Lern more</button>
        </div>
      </div>
    </section>
    <br />
    <section class="about">
      <div class="main">
        <img src="/components/pages/IMG20250906123921.jpg" alt="" />
        <div class="about-text">
          <h1>About Us</h1>
          <h5>Student & Web Developer</h5>
          <p>
            My name is Tushar Sitapra and I am student of Marwadi University. I
            am study in Bsc.it department. I have 2 years of collage exprience
            for web development.
          </p>
          <button>Lern more</button>
        </div>
      </div>
    </section>
  </body>
</html>
