<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/components/pages/contact/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>CONTACT US</h1>
      <form action="">
        <div class="form-group">
          <input type="text" placeholder="Name" />
        </div>
        <div class="form-group">
          <input type="email" placeholder="Email-Id" />
        </div>
        <div class="form-group">
          <textarea cols="" rows="5" placeholder="Reviews..."></textarea>
        </div>
        <button type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
