<div style="width: 50%; padding: 4rem">
  <div class="plan">
    <div class="card card--secondry">
      <header class="card__header">
        <h3 class="plan__name">Entry</h3>
        <span class="plan__price">$70</span>
        <span class="plan__billing-cycle">/month</span>
        <span class="badge badge--secondry bage--small">77% OFF</span>
        <span class="plan__description">Start Purchase From Here</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">APPLE-MACBOOK-AIR</li>
          <li class="list__item">I-PHONE 12(MINI)</li>
          <li class="list__item">OPPO F25</li>
          <li class="list__item">VIVO Y95</li>
        </ul>
        <button class="btn btn--outline btn--block">Buy Now</button>
      </div>
    </div>
  </div>
</div>
