<section class="block container">
  <header class="block__header">
    <h2>Host on the cloud and keep growing</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, itaque!
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy To Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, ea.
      </p>
      <a href="#" class="link-arrow">LEARN MORE</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="nxt_repo/images/easy.webp 1x, nxt_repo/images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="nxt_repo/images/easy.jpg 1x, nxt_repo/images/easy@2x.jpg 2x"
      />
      <img
        class="feature__image"
        src="/nxt_repo/images/easy@2x.jpg"
        alt="My Images"
      />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy To Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, ea.
      </p>
      <a href="#" class="link-arrow">LEARN MORE</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="nxt_repo/images/fast.webp 1x, nxt_repo/images/fast@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="nxt_repo/images/fast.jpg 1x, nxt_repo/images/fast@2x.jpg 2x"
      />
      <img
        class="feature__image"
        src="/nxt_repo/images/fast.jpg"
        alt="My Images"
      />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy To Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, ea.
      </p>
      <a href="#" class="link-arrow">LEARN MORE</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          nxt_repo/images/support.webp    1x,
          nxt_repo/images/support@2x.webp 2x
        "
      />
      <source
        type="image/jpg"
        srcset="
          nxt_repo/images/support.jpg    1x,
          nxt_repo/images/support@2x.jpg 2x
        "
      />
      <img
        class="feature__image"
        src="/nxt_repo/images/support.jpg"
        alt="My Images"
      />
    </picture>
  </article>
</section>
