<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="menil__img">
      <img src="/nxt_repo/images/Menil (2).jpg" alt="Happy Smiling Owner" />
      <span class="icon-container icon-container--body">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, totam
        labore et possimus officia temporibus ea ut iusto accusamus quo.
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Menil Jotaniya</h3>
            <p class="quote__company">MJ Company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
