<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/nxt_repo/css/normalize.css" />
    <link rel="stylesheet" href="/nxt_repo/css/style.css" />
  </head>
  <body style="padding: 5rem">
    <div class="card menil">
      <div class="grid grid--1x2">
        <div class="menil__img">
          <img src="/nxt_repo/images/Menil (2).jpg" alt="Happy Smiling Owner" />
        </div>
        <div style="height: 100px; background: gold"></div>
      </div>
    </div>
  </body>
</html>
